{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Detalles de Tarea</title>
        <link rel="stylesheet" href="{% static 'gestion_tareas/base.css' %}" >
    </head>
    <body>
        <div class="container"></div>
            <h3>Detalle de Tarea</h3>
            <br>
            <h4>Estado</h4>
            <br>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>Descripción</label>
                        </td>
                        <td>
                            <label type="text" class="form-control">{{ tarea.descripcion }}</label>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <label>Responsable</label>
                        </td>
                        <td>
                            <label type="text" class="form-control">{{ tarea.responsable }}</label>
                        </td>
                    </tr>    
                        <td>
                            <label>Estado</label>
                        </td>
                        <td>
                            <label type="text" class="form-control">{{ tarea.estado }}</label>
                        </td>
                    </tr>
                </tbody>
            </table>        
            <br>
            <br>
            <h4>Periodo</h4>
            <br>
            <table>
                <tbody>
                    <tr>
                        <td>
                            <label>Fecha de creación</label>
                        </td>
                        <td>
                            <label class="form-control">{{ tarea.fecha_cracion }}</label>
                        </td>
                    </tr>
                    <tr>    
                        <td>
                            <label>Fecha de entrega</label>
                        </td>
                        <td>
                            <label type="text" class="form-control">{{ tarea.fecha_entrega}}</label>
                        </td>
                    </tr>    
                </tbody>
            </table>        
           <br>
           <br>
            <div>
                <a class="button2" href="{% url 'gestion_tareas:dashboard' tarea.responsable %}">Salir</a>
            </div>




        </div>    
    </body>
</html>
