{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>
            Gestión Tareas
        </title>
        <link rel="stylesheet" href="{% static 'gestion_tareas/base.css' %}" >
    </head>
    <body>
        <h1>Bienvenido a Gestión Tareas</h1>
        <form method="post" action="{% url 'gestion_tareas:ingresar' %}">
        {% csrf_token %}
        <div>
            <table>
                <tbody>
                    <tr>
                        <td><label>Usuario</label></td>
                        <td><input type="text" class="form-control" name="emailUsuario" id="emailUsuario" aria-describedby="emailHelp"></td>
                    </tr>
                    <tr>
                        <td><label for="exampleInputPassword1" class="form-label">Password</label></td>
                        <td><input type="password" class="form-control" name="passwordUsuario" id="passwordUsuario"></td>
                    </tr>
                    <tr>    
                        <td><button type="submit" class="button">Ingresar</button></td>
                    </tr>    
                </tbody>
            </table>
        </div>
        </form>
        {% if mensaje_error %}
        <div style="text-align: center;">
            <h6>{{ mensaje_error }}</h6>
        </div>
        {% endif %}
    </body>
</html>
